# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos generados y subidas
backend/uploads/*
backend/generations/*

# Pero mantener las carpetas vacías (opcional)
!backend/uploads/.gitkeep
!backend/generations/.gitkeep

# Python (Compilados)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Temporales de MoviePy
backend/*TEMP_MPY*

# Secrets and credentials
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Docker
.docker/

# Entornos Virtuales
venv/
.venv/